/* Geral */
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Knewave", system-ui;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    color: #F00;
    font-size: 24px;
}

h2 {
    color: #00F;
    font-size: 18px;
}

h3 {
    color: #FFA500;
    font-size: 16px;
}

ul li,
ol li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #ADD8E6;
    border-bottom: 2px solid #00008B;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0px;
    gap: 20px;
    padding: 0;
}

/* Estilos da Homepage */
.titulo-principal {
    color: #4B0082;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}

.slogan {
    color: #808080;
    text-align: center;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 30px;
}

.titulo-secao {
    color: #2E8B57;
    border-bottom: 2px solid #2E8B57;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 24px;
}

#destaques {
    background-color: #FFFFE0;
    padding: 15px;
    border: 2px solid #FFD700;
    border-radius: 8px;
    margin-bottom: 30px;
}

.produtos-destaque {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.produto h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
    padding-top: 10px;
}

.produto img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.produto a {
    text-decoration: none;
    background-color: brown;
    color: white;
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
}

#mais-vendidos {
    background-color: #F0FFF0;
    padding: 15px;
    border: 2px solid #32CD32;
    border-radius: 8px;
    margin-bottom: 30px;
}

.mais-vendidos li{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: goldenrod;
}

.detalhes-produto {
    display: flex;
    gap: 20px;
}

.detalhes-produto img {
    max-height: 300px;
    height: auto;
}

.detalhes-produto table {
    border-collapse: collapse;
    width: 500px;
}

.detalhes-produto th {
    background-color: brown;
    color: white;
    border: 1px solid white !important;
}

.detalhes-produto th, .detalhes-produto td {
    border: 1px solid brown;
    padding: 5px;
    text-align: center;
}

.botao-padrao {
    text-decoration: none;
    background-color: brown;
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
}

.destaque {
    color: green;
    text-decoration: double underline;
    font-weight: bold;
}

/* Formulário de Compra */
form {
    max-width: 400px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    -webkit-box-shadow: 5px 5px 18px 5px rgba(0, 0, 0, 0.32);
    box-shadow: 5px 5px 18px 5px rgba(0, 0, 0, 0.32);
}

form h2 {
    margin-bottom: 15px;
    color: brown;
}

form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="date"],
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="radio"] {
    margin-right: 5px;
    margin-left: 10px;
}

form input[type="radio"]:first-of-type {
    margin-left: 0;
}

form p {
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: bold;
}

form button[type="submit"] {
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: orangered;
}

/* Estilos da Página do Blog */
.conteudo-pagina {
    display: flex;
}

.conteudo-pagina main {
    flex: 3;
}

article {
    margin: 20px 0px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}

.imagem-blog {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagem-blog img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

aside {
    flex: 1;
    background-color: #f4f4f4;
    margin-left: 20px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

.faq {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fafafa;
}

details summary {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

details summary > * {
    display: inline;
}

details p {
    margin-top: 10px;
    line-height: 1.5;
    color: #333;
}