/* Geral */
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Knewave", system-ui;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    color: #F00;
    font-size: 24px;
}

h2 {
    color: #00F;
    font-size: 18px;
}

h3 {
    color: #FFA500;
    font-size: 16px;
}


ul li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

/* Estilos da Homepage */
.titulo-principal {
    color: #4B0082;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}

.slogan {
    color: #808080;
    text-align: center;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 30px;
}

.titulo-secao {
    color: #2E8B57;
    border-bottom: 2px solid #2E8B57;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 24px;
}

.produtos-destaque {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.produto h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
    padding-top: 10px;
}

.produto img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.produto a {
    text-decoration: none;
    background-color: brown;
    color: white;
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
}

.mais-vendidos li{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: goldenrod;
}

.detalhes-produto {
    display: flex;
    gap: 20px;
}

.detalhes-produto img {
    max-height: 300px;
    height: auto;
}

.detalhes-produto table {
    border-collapse: collapse;
    width: 500px;
}

.detalhes-produto th {
    background-color: brown;
    color: white;
    border: 1px solid white !important;
}

.detalhes-produto th, .detalhes-produto td {
    border: 1px solid brown;
    padding: 5px;
    text-align: center;
}

.botao-padrao {
    text-decoration: none;
    background-color: brown;
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
}

.destaque {
    color: green;
    text-decoration: double underline;
    font-weight: bold;
}